---

// Component Imports
import Button from "../components/utils/Button.astro";
import Main from "../layouts/main.astro";


---

<Main title="Markdown + Tailwind">
  <div class="grid place-items-center h-screen content-center">
    <Button>Tailwind Button in Astro!</Button>
    <a href="/markdown-page" class="p-4 underline"
      >Markdown is also supported...</a
    >
  </div>
</Main>
